<nav class="navbar-superior">
  <div class="logo-container">
    <img src="/Imegenes/pleca_educacion_dic24.png" alt="Logo de Educación">
    <img src="/Imegenes/pleca_tecnm.jpg" alt="Logo de TecNM">
    <img src="/Imegenes/Imagen1.png" alt="Logo de Chiapas">
  </div>
</nav>

<nav class="navbar-inferior">
  <div class="titulo-navbar">Impulso Tecnológico Cafetalero</div>
</nav>

<div class="contenedor-principal">

  <div class="grid-registros">
    <div class="ficha-tecnica" *ngFor="let item of listaDatos">

      <div class="seccion-cabecera">
        <div class="badge-tipo">
          {{ item.tipo }}
          <span *ngIf="item.tipo === 'Otro' && item.especificacionOtroTipo">
            - {{ item.especificacionOtroTipo }}
          </span>
        </div>
        <h2>{{ item.nombreTecnologia }}</h2>
      </div>

      <div class="cuerpo-ficha">

        <div class="campo-dato">
          <label>Descripción de la Tecnología Cafetalera</label>
          <div class="contenido">{{ item.descripcion }}</div>
        </div>

        <div class="campo-dato">
          <label>Capacidades Técnicas Aplicadas al Café</label>
          <div class="contenido">{{ item.capacidades }}</div>
        </div>

        <div class="campo-dato" *ngIf="item.servicios">
          <label>Servicios Tecnológicos para Productores de Café</label>
          <div class="contenido">{{ item.servicios }}</div>
        </div>

        <div class="campo-dato">
          <label>Requisitos para su Implementación</label>
          <div class="contenido">{{ item.requisitos }}</div>
        </div>

        <div class="info-footer">
          <div class="dato-footer">
            <span class="etiqueta">Disponibilidad:</span>
            <span class="valor">{{ item.disponibilidad }}</span>
          </div>
          <div class="dato-footer">
            <span class="etiqueta">Costos o Convenios:</span>
            <span class="valor">{{ item.costos || 'N/A' }}</span>
          </div>
          <div class="dato-footer">
            <span class="etiqueta">Responsable Técnico:</span>
            <span class="valor">{{ item.responsable }}</span>
          </div>
        </div>

        <div class="contenedor-foto" *ngIf="item.documentoPath">
          <label style="display: block; font-size: 0.8rem; color: #666;">Tecnología:</label>
          <img [src]="URL_ARCHIVOS + item.documentoPath" alt="Imagen Tecnología"
            style="width: 100%; max-width: 150px; border-radius: 8px; border: 1px solid #ddd; cursor: pointer;"
            (click)="descargarArchivo(item.documentoPath)">
        </div>

      </div>
    </div>
  </div>
</div>
